streamlit==1.36.0
cmake==3.27.9
protoc>=3.19.0
protobuf<=3.20
packaging==24.1
langchain==0.2.9
langchain-chroma==0.1.2
chroma-hnswlib==0.7.5
chromadb==0.5.4
langchain-community==0.2.7
langchain-core==0.2.21
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
huggingface-hub==0.23.5
unstructured==0.12.5 
unstructured-inference==0.7.24
unstructured.pytesseract==0.3.12
opencv-python-headless==4.10.0.84
pdfminer.six==20231228
pytesseract==0.3.10
tiktoken==0.7.0
einops==0.8.0
rank-bm25==0.2.2
pillow_heif==0.17.0
pikepdf==9.0.0
pdf2image==1.17.0
pypdf==4.3.0
pypdfium2==4.30.0
requests==2.31.0
